In [1]:
import pandas as pd
import numpy as np

## DATA CLEANING

In [2]:
df_credits = pd.read_csv("credits.csv")

In [3]:
df_movies = pd.read_csv("movies.csv")

In [4]:
data = df_movies.merge(df_credits, on='title')

In [5]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4808 non-null   int64
 1   genres                4808 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4808 non-null   int64
 4   keywords              4808 non-null   object
 5   original_language     4808 non-null   object
 6   original_title        4808 non-null   object
 7   overview              4805 non-null   object
 8   popularity            4808 non-null   float64
 9   production_companies  4808 non-null   object
 10  production_countries  4808 non-null   object
 11  release_date          4807 non-null   object
 12  revenue               4808 non-null   int64
 13  runtime               4806 non-null   float64
 14  spoken_languages      4808 non-null   object
 15  status                4808 non-null   object
 16  tagline               3964 non-null   object
 17  title                 4808 non-null   object
 18  vote_average          4808 non-null   float64
 19  vote_count            4808 non-null   int64
 20  movie_id              4808 non-null   int64
 21  cast                  4808 non-null   object
 22  crew                  4808 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.5+ KB

In [7]:
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])
df_movies['release_date'] = df_movies['release_date'].dt.year

C:\Users\lenevo\AppData\Local\Temp\ipykernel_14780\650604772.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])

In [8]:
data = data[['movie_id','title','genres','cast','crew','keywords']]
data.head()

,movie_id,title,genres,cast,crew,keywords
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [9]:
#Il n'y a pas de données en double
data.duplicated().sum()

0

In [10]:
data.isnull().sum()

movie_id    0
title       0
genres      0
cast        0
crew        0
keywords    0
dtype: int64

In [11]:
#il y a 3 données manquante dans la colonne 'overview' on peux les supprimer
data.dropna(inplace=True)

## DATA PREPARING

In [12]:
import ast

In [13]:
def convert (obj) :
    list = []
    for i in ast.literal_eval(obj):
        list.append(i['name'])
    return list

In [14]:
data['genres']= data['genres'].apply(convert)
data['keywords']= data['keywords'].apply(convert)
data.head()

,movie_id,title,genres,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[based on novel, mars, medallion, space travel..."

In [15]:
def convert(obj) :
    list = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3 :
            list.append(i['name'])
            counter += 1
        else :
            break
        return list

In [16]:
data['cast']= data['cast'].apply(convert)
data.head()

,movie_id,title,genres,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",[Sam Worthington],"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[Johnny Depp],"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]",[Daniel Craig],"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[Christian Bale],"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]",[Taylor Kitsch],"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[based on novel, mars, medallion, space travel..."

In [17]:
def fetch_director(obj) :
    list =[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director' :
            list.append(i['name'])
    return list

In [18]:
data['crew']= data['crew'].apply(fetch_director)
data.head()

,movie_id,title,genres,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",[Sam Worthington],[James Cameron],"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[Johnny Depp],[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]",[Daniel Craig],[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[Christian Bale],[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]",[Taylor Kitsch],[Andrew Stanton],"[based on novel, mars, medallion, space travel..."

In [19]:
data.head()

,movie_id,title,genres,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",[Sam Worthington],[James Cameron],"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[Johnny Depp],[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]",[Daniel Craig],[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[Christian Bale],[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]",[Taylor Kitsch],[Andrew Stanton],"[based on novel, mars, medallion, space travel..."

In [20]:
data['genres'] = data['genres'].apply(lambda x:[i.replace(" ","") for i in x])
data['keywords'] = data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
data['crew'] = data['crew'].apply(lambda x:[i.replace(" ","") for i in x])
data['cast'] = data['cast'].apply(lambda x:[i.replace(" ","") for i in x] if x is not None else [])

In [21]:
data.head()

,movie_id,title,genres,cast,crew,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]",[SamWorthington],[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[JohnnyDepp],[GoreVerbinski],"[ocean, drugabuse, exoticisland, eastindiatrad..."
2,206647,Spectre,"[Action, Adventure, Crime]",[DanielCraig],[SamMendes],"[spy, basedonnovel, secretagent, sequel, mi6, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[ChristianBale],[ChristopherNolan],"[dccomics, crimefighter, terrorist, secretiden..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]",[TaylorKitsch],[AndrewStanton],"[basedonnovel, mars, medallion, spacetravel, p..."

In [22]:
data['tags'] = data['genres'] + data['keywords']+ data['crew']+data['cast']

In [23]:
data.head()

,movie_id,title,genres,cast,crew,keywords,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]",[SamWorthington],[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[JohnnyDepp],[GoreVerbinski],"[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime]",[DanielCraig],[SamMendes],"[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[ChristianBale],[ChristopherNolan],"[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]",[TaylorKitsch],[AndrewStanton],"[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction, basedonnov..."

In [24]:
new_data = data[['movie_id','title','tags']]
new_data.head()

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [25]:
new_data['tags'] = new_data['tags'].apply(lambda x:' '.join(x))

C:\Users\lenevo\AppData\Local\Temp\ipykernel_14780\2909344741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['tags'] = new_data['tags'].apply(lambda x:' '.join(x))

In [26]:
new_data.head()

,movie_id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...

## RECOMMANDING

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000 , stop_words='english')

In [28]:
cv.fit_transform(new_data['tags']).toarray().shape

(4808, 5000)

In [29]:
vectors = cv.fit_transform(new_data['tags']).toarray()
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [30]:
import nltk

In [31]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [32]:
def stem(text):
    list =[]
    for i in text.split():
        list.append(ps.stem(i))
    return " ".join(list)

In [33]:
new_data['tags'] = new_data['tags'].apply(stem)

C:\Users\lenevo\AppData\Local\Temp\ipykernel_14780\1214595124.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['tags'] = new_data['tags'].apply(stem)

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similarity = cosine_similarity(vectors)
similarity[0]

array([1.        , 0.1254363 , 0.1132277 , ..., 0.06537205, 0.        ,
       0.        ])

In [36]:
sorted(list(enumerate(similarity[0])) , reverse = True , key=lambda x:x[1])[1:6]

[(47, 0.3668996928526715),
 (786, 0.33968311024337877),
 (61, 0.3396831102433787),
 (1194, 0.32686022523030667),
 (83, 0.3202563076101743)]

In [37]:
def recommande (movie) :
    movie_index = new_data[new_data['title'] == movie].index[0]
    distances = similarity [movie_index]
    movies_list = sorted(list(enumerate(distances)) , reverse = True , key=lambda x:x[1])[1:10]
    for i in movies_list :
        print(new_data.iloc[i[0]].title)

In [38]:
recommande('Avatar')

Star Trek Into Darkness
The Monkey King 2
Jupiter Ascending
Small Soldiers
The Lovers
Megaforce
Sheena
Ender's Game
The Time Machine

In [40]:
new_data.to_csv('moviesdata.csv')

In [41]:
moviesdata = pd.read_csv('moviesdata.csv')

In [42]:
moviesdata = moviesdata.merge(df_movies[['release_date','title']] , on='title')

In [43]:
moviesdata.head()

,Unnamed: 0,movie_id,title,tags,release_date
0,0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa...",2009.0
1,1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c...",2007.0
2,2,206647,Spectre,a cryptic messag from bond’ past send him on a...,2015.0
3,3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...,2012.0
4,4,49529,John Carter,"john carter is a war-weary, former militari ca...",2012.0

In [44]:
moviesdata['release_date'] = moviesdata['release_date'].astype(float).astype(str)
moviesdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4817 entries, 0 to 4816
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4817 non-null   int64
 1   movie_id      4817 non-null   int64
 2   title         4817 non-null   object
 3   tags          4817 non-null   object
 4   release_date  4817 non-null   object
dtypes: int64(2), object(3)
memory usage: 225.8+ KB

In [45]:
moviesdata['release_date'] = moviesdata['release_date'].str[:-2]

In [46]:
moviesdata['title'] = moviesdata['title'] + ' (' + moviesdata['release_date'] + ')'

In [47]:
moviesdata.head()

,Unnamed: 0,movie_id,title,tags,release_date
0,0,19995,Avatar (2009),"in the 22nd century, a parapleg marin is dispa...",2009
1,1,285,Pirates of the Caribbean: At World's End (2007),"captain barbossa, long believ to be dead, ha c...",2007
2,2,206647,Spectre (2015),a cryptic messag from bond’ past send him on a...,2015
3,3,49026,The Dark Knight Rises (2012),follow the death of district attorney harvey d...,2012
4,4,49529,John Carter (2012),"john carter is a war-weary, former militari ca...",2012

In [48]:
def recommande(movie):
    try:
        movie_title = movie.split(' (')[0]
        movie_index = moviesdata[moviesdata['title'].str.contains(movie_title)].index[0]
    except IndexError:
        print(f"{movie} is not found.")
        return
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:20]
    for i in movies_list:
        print(moviesdata.iloc[i[0]].title)

In [49]:
recommande("Avatar (2009)")

Titan A.E. (2000)
Bridge of Spies (2015)
Independence Day (1996)
The Rainmaker (1997)
Ender's Game (2013)
Battle: Los Angeles (2011)
Horrible Bosses 2 (2014)
The Girl Next Door (2004)
Mozart's Sister (2010)
Cursed (2005)
Jupiter Ascending (2015)
Edge of Tomorrow (2014)
The Fifth Element (1997)
Y Tu Mamá También (2001)
The Lovers (2015)
Journey 2: The Mysterious Island (2012)
Beowulf (2007)
Deuce Bigalow: Male Gigolo (1999)
The Time Machine (2002)

In [50]:
recommande("American Beauty (2000)")

Gridiron Gang (2006)
Eight Below (2006)
Can't Hardly Wait (1998)
Things to Do in Denver When You're Dead (1995)
Taxi Driver (1976)
Paul (2011)
Michael Collins (1996)
A Scanner Darkly (2006)
Shame (2011)
Animals United (2010)
The Visitors II: The Corridors of Time (1998)
Joy (2015)
Samantha: An American Girl Holiday (2004)
Drive Me Crazy (1999)
Mumford (1999)
Sweet Charity (1969)
Kung Fu Hustle (2004)
House at the End of the Street (2012)
Ultramarines: A Warhammer 40,000 Movie (2010)

In [51]:
recommande ("Batman Begins (2009)")

The Dark Knight (2008)
The Dark Knight Rises (2012)
The Hangover (2009)
Head of State (2003)
Batman & Robin (1997)
Anderson's Cross (2010)
Batman v Superman: Dawn of Justice (2016)
The Loved Ones (2009)
Batman Returns (1992)
Hoodwinked Too! Hood VS. Evil (2011)
Batman Forever (1995)
Friday the 13th: A New Beginning (1985)
Teenage Mutant Ninja Turtles (2014)
Princess Mononoke (1997)
Restless (2012)
Mean Streets (1973)
A Simple Wish (1997)
Waitress (2007)
Walking Tall (2004)

In [42]:
movie_list = ["Batman Begins","The Dark Knight","women"]

In [53]:
def recommend(movie_list):
    movie_indices = []
    for movie_title in movie_list:
        try:
            movie_index = moviesdata[moviesdata['title'].str.contains(movie_title)].index[0]
            movie_indices.append(movie_index)
        except IndexError:
            continue
    
    if len(movie_indices) == 0:
        return
    
    shared_movies = set(range(len(moviesdata)))
    for movie_index in movie_indices:
        distances = similarity[movie_index]
        movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:40]
        shared_movies = shared_movies.intersection(set([i[0] for i in movies_list]))
    
    if len(shared_movies) == 0:
        return
    
    for i in shared_movies:
        print(moviesdata.iloc[i].title)

In [54]:
recommend(movie_list)

Waitress (2007)
Hoodwinked Too! Hood VS. Evil (2011)
Batman v Superman: Dawn of Justice (2016)
Our Idiot Brother (2011)
The Other Conquest (1999)
Anderson's Cross (2010)
Batman Forever (1995)
Batman Returns (1992)
The Dark Knight (2008)
The Outsiders (1983)
Head of State (2003)
The Hangover (2009)
Batman & Robin (1997)
Mean Streets (1973)
Friday the 13th: A New Beginning (1985)
8 Heads in a Duffel Bag (1997)
Teenage Mutant Ninja Turtles (2014)
The Loved Ones (2009)
Righteous Kill (2008)

In [55]:
moviesdata.to_csv("moviesdata.csv")

In [61]:
import random

def recommend(movie_list):
    if not movie_list:
        # recommend 10 random movies
        random_indices = random.sample(range(len(moviesdata)), k=10)
        for i in random_indices:
            print(moviesdata.iloc[i].title)
        return
    
    movie_indices = []
    for movie_title in movie_list:
        try:
            movie_index = moviesdata[moviesdata['title'].str.contains(movie_title)].index[0]
            movie_indices.append(movie_index)
        except IndexError:
            continue
    
    if len(movie_indices) == 0:

        return
    
    shared_movies = set(range(len(moviesdata)))
    for movie_index in movie_indices:
        distances = similarity[movie_index]
        movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:40]
        shared_movies = shared_movies.intersection(set([i[0] for i in movies_list]))
    
    if len(shared_movies) == 0:
        return
    
    for i in shared_movies:
        print(moviesdata.iloc[i].title)

In [62]:
recommend("")

The King's Speech (2010)
Wall Street: Money Never Sleeps (2010)
Pooh's Heffalump Movie (2005)
Hostel (2005)
Austin Powers: The Spy Who Shagged Me (1999)
It's All Gone Pete Tong (2004)
The Helix... Loaded (2005)
The Claim (2000)
Babel (2006)
From Justin to Kelly (2003)

women not found in the data
Batman Begins
The Dark Knight Rises
Batman & Robin
Harsh Times
Black November
Amidst the Devil's Wings
Defendor
Kiss of Death
Shinjuku Incident